@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: white;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header-container{
  width: 1040px;
  margin: 0 auto;
}

.top-of-the-header,
.bottom-of-the-header {
  display: flex;
}

.top-of-the-header{
  margin-bottom: 30px;
}

.search {
  margin: 0;
  padding: 0;
  width: 517px;
}

.personal-area-link{
  display: block;
  min-width: 231px;
  padding: 0;
  margin-left: 26px;
}

.compare-link{
  width: 105px;
  padding: 0;
  margin-right: 36px;
}

.bin-link{
  width: 99px;
  padding: 0;
  margin-left: auto;
}

.navigation {
  min-width: 471px;
  margin-left: auto;
}

.page-navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-navigation-item:not(last-child){
  display: block;
  margin-right: 45px;
  padding: 0;
}

.page-navigation-item:last-child {
  padding: 0;
  margin: 0;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.product-card {
  display: flex;
  align-items: center;
}

.popular-product {
  display: block;
  width: 560px;
  margin: 0;
  padding: 0;
}

.product-discription {
  width: 560px;
  margin-left: auto;
  padding: 0;
}

.characteristics-list,
.extra-info {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.extra-info {
  align-items: center;
}

.characteristics-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.product-categories-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.extra-info-title-list {
  width: 280px;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 65px;
  list-style-type: none;
}

.extra-info-title {
  width: 160px;
  margin-bottom: 35px;
  margin-right: 120px;
}

.extra-description-title {
  margin: 0;
  margin-bottom: 34px;
}

.extra-info-description-list {
  width: 694px;
  padding: 0;
  margin-left: 126px;
  list-style-type: none;
}

.extra-info-description-list {
  margin: 72px 63px 116px;
}

.common-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.info {
  width: 520px;
  margin-right: 108px;
}

.space-in-text {
  line-height: 30px;
}

.delivery-ways-list{
  width: 182px;
  padding-left: 34px;
}

.delivery-ways-item {
  margin-bottom: 19px;
}

.contacts-address-text{
  margin: 0;
}

.contacts-schedule {
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.contacts-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
}

.top-of-mailing-list,
.bottom-of-mailing-list {
  display: flex;
  align-items: center;
}

.bottom-of-mailing-list {
  padding-bottom: 56px;
}

.mailing-list-title {
  width: 348px;
}

.mailing-list-discription {
  width: 560px;
  margin-left: auto;
}

.mailing-list-form {
  width: 810px;
}

.mailing-list-mark {
  margin-bottom: 0;
  margin-left: auto;
}

.page-footer-container {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-address {
  padding: 0;
  margin-top: 62px;
  margin-bottom: 77px;
  margin-right: 79px;
}

.footer-address address {
  width: 280px;
  margin-bottom: 64px;
}

.footer-media {
  min-width: 450px;
}

.footer-media-list {
  display: flex;
  list-style-type: none;
  margin-top: 137px;
  margin-bottom: 62px;
  padding: 0;
}

.footer-media-item {
  margin-right: 35px;
}

.footer-media-item:last-child {
  margin-right: 0;

}

.social-media-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;

}

.social-media-item {
  border:
    1px
    solid
    greenyellow;
    /* для видимости, после добавдения иконок - уберу */
  min-width: 40px;
  min-height: auto;
  margin-right: 15px;
}

.social-media-item:last-child {
  margin-right: 0;
}

.footer-phone {
  min-width: 175px;
  margin-left: auto;
  margin-top: 140px;
  margin-bottom: 65px;

}

.executor-logo {
  display: block;
  padding: 0;
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}
.page-header {
  background-color: #ffe17f;
  color: inherit;
}

.catalog-products {
  display: flex;
}

.right-column {
  width: 840px;
}

.page-header a {
  color: black;
  text-decoration: none;
}

.compare-link,
.bin-link {
  text-align: center;
}

.catalog-button,
.page-navigation-list,
.about-product {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-button {
  background-color: #ffe17f;

  width: 293px;
}

.advantages-title{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-description p {
  color: #444444;
}

.about-product {
  color: #000000;
  background: #FFE17F;
  text-decoration: none;
}

.characteristics-list {
  color: #444444;
}

.distance {
  font-size: 36px;
  line-height: 30px;
  color: #000;
}

.product-categories-list a{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.extra-info-title-list button{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: #FFE17F;
  text-decoration: none;
}

.extra-description-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.extra-descriptoin {
  color: #444444;
  background-color: #F0F0F0;
}

.delivery {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  background-color: #F0F0F0;

  display: block;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 40px 125px;
}

.about-company-title,
.contacts-title,
.mailing-list-title{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-company-description {
  color: #444444;

  width: 497px;
  padding: 0;
  margin-bottom: 30px;
}

.delivery-ways-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.all-info {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: #FFE17F;
  text-decoration: none;

  width: 270px;
}


.contacts {
  color: #444444;

  width: 532px;
}

.contacts h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

}

address {
  font-style: normal;
}

.contacts-address a{
  color: #444444;
}

.comunication {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: #FFE17F;
  text-decoration: none;
}

.mailing-list {
  color: #444444;
  background-color: #F0F0F0;
}

.page-footer {
  color: white;
  background-color:#444444;
}

.page-footer address {
  font-size: 16px;
  line-height: 20px;
}

.footer-media-list a{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: white;
  text-decoration: none;
}

.footer-contacts-phone {
  display: block;
  color: white;
  font-size: 16px;
  line-height: 20px;;
  margin-bottom: 63px;
}

.executor {
  display: block;
}

.main-inner {
  background-color: #F0F0F0;
}

.inner-header-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.filter-title,
.sort-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.catalog-filter-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-list {
  font-size: 16px;
  line-height: 20px;
}

.show-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: #FFE17F;
  text-decoration: none;
}

.cards-field {
  background-color: white;
}

.product-card a {
  text-decoration: none;
  color: inherit;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #444444;
}

.button-pagination-show-more {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination {
  background-color: #EBEBEB;
}

.pagination-swap {
  font-family: 'Raleway';
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
}

.pagination-prev {
  color: #444444;
  opacity: 0.3;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
  text-align: center;
}

.pagination-current {
  opacity: 0.6;
}
